# Include Cython source files
include src/fcs_order/thirdorder/thirdorder_core.pyx
include src/fcs_order/fourthorder/fourthorder_core.pyx
include src/fcs_order/thirdorder/cthirdorder_core.pxd
include src/fcs_order/fourthorder/cfourthorder_core.pxd

# Include header files
include src/fcs_order/thirdorder/cthirdorder_core.pxd
include src/fcs_order/fourthorder/cfourthorder_core.pxd

# Include all Python files
recursive-include src *.py

# Include README and other documentation
include README.md
include pyproject.toml
include setup.py