[project]
name = "fcs-order"
version = "4.0.1"
description = "Extract 2nd-, 3rd-, and 4th-order force constants using arbitrary machine-learning potentials; compatible with the original thirdorder and fourthorder sow and reap commands"
readme = "README.md"
requires-python = ">=3.9,<3.14"
dependencies = [
    "ase",
    "matplotlib",
    "numba",
    "numpy",
    "scipy",
    "sparse",
    "spglib",
    "typer",
]

license = "Apache-2.0"

[project.scripts]
fcs-order = "fcsorder.__init__:cli"

[[tool.uv.index]]
url = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple"
default = true

[tool.uv.workspace]
members = [
    ".",
]

[tool.uv.sources]
fcs-order = { workspace = true }


[project.optional-dependencies]
phonon = [
    "phonopy",
    "hiphive"
]

[tool.hatch.build.targets.wheel]
packages = ["src/fcsorder"]

[build-system]
requires = [
    "hatchling>=1.0.0",
]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "fcs-order",
]

