[project]
name = "fcs-order"
version = "3.1"
description = "Third-order force constants calculation tool for VASP"
readme = "README.md"
requires-python = ">=3.10,<3.14"
dependencies = [
    "ase>=3.22.1",
    "cython>=3.1.6",
    "hiphive>=1.5",
    "matplotlib>=3.9.4",
    "numpy>=1.21.6",
    "phonopy>=2.43.6",
    "scipy>=1.7.3",
    "setuptools>=80.9.0",
    "sparse>=0.15.5",
    "spglib>=2.2.0",
    "typer>=0.20.0",
]


[project.license]
text = "GPL-3.0-or-later"


[project.scripts]
fcsorder = "fcsorder.__init__:cli"


[[tool.uv.index]]
url = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple"
default = true


[project.optional-dependencies]
deepmd = [ "deepmd-kit>=2.2.0" ]
hiphive = [ "hiphive>=0.6" ]
mlp = [ "pypolymlp>=0.15" ]
calorine = [ "calorine>=1.0" ]
all = [
"deepmd-kit>=2.2.0",
"hiphive>=0.6",
"calorine>=1.0",
"pypolymlp>=0.15"
]


[tool.uv.workspace]
members = [
 ".",
 ".",
 ".",
 ".",
]

[tool.uv.sources]
fcs-order = { workspace = true }


[build-system]
requires = [
"setuptools>=45",
"wheel",
"cython>=3.0.12",
"numpy>=1.21.6",
"spglib>=2.2.0"
]
build-backend = "setuptools.build_meta"

[dependency-groups]
dev = [
    "fcs-order",
]
